{"in_file": "/media/samia/DATA/ark/dan-samia/lsd/funke/fafb/synapses/tencubes/gt_fafb_cubes/cube_1.hdf", "in_ds_name": null, "out_file": null, "out_ds_name": null, "chunk_shape_voxel": null, "max_voxel_count": 262144, "roi_offset": null, "roi_shape": null, "db_host": null, "db_name": null, "overwrite": 2, "num_workers": 4, "no_launch_workers": 0, "config_hash": null, "task_name": null, "db_id": "HDF2ZarrTask_68b10192be3d35c0c44f0d88ed97cdd3"}